html,
body {
  height: 100%;
  margin: 0;
  /* padding-top: 70px; */
}

body {
  background-color: #f8f9fa;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Footer clean styling */
footer {
  background-color: #d4edda;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.05);
}

/* Navbar adjustments */
.navbar-nav .nav-link {
  color: #000 !important;
}

.navbar-nav .nav-link:hover {
  text-decoration: underline;
}

/* Remove active, focus, and click bg color from sidebar links */
.nav-pills .nav-link,
.nav-pills .nav-link:focus,
.nav-pills .nav-link:active,
.nav-pills .nav-link.show,
.nav-pills .nav-link.active {
  background-color: transparent !important;
  color: #212529;
  box-shadow: none;
}

/* Optional: give hover effect if you want */
.nav-pills .nav-link:hover {
  background-color: #f0f0f0;
  color: #212529;
}
