<nav class="navbar navbar-expand-lg fixed-top" style="background-color: #d7eadd;">
    <div class="container">
        <a class="navbar-brand fw-bold d-flex align-items-center" href="/admin">
            <h3>Global Care Hospital</h3>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/receptionist/view-patients">Patient's</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/receptionist/view-rooms">Doctor's</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/receptionist/view-nurses">Nurse</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="/medicine/allmedicine">Medicine's</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-danger ms-3" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>